<!--sidebar start-->
<aside>
  <div id="sidebar"  class="sidebar nav-collapse ">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu">
      {{ $currentNode := . }}
      {{ range .Site.Menus.wiki }}
      {{ if .HasChildren }}

      <li class="sub-menu{{if $currentNode.HasMenuCurrent "wiki" . }} active{{end}}">
        <a href="javascript:;" class="">
          {{ .Pre }}
          <!--<i class="icon_desktop"></i>-->
          <span>{{ .Name }}</span>
          <span class="menu-arrow fa {{if $currentNode.HasMenuCurrent "wiki" . }}fa-angle-down{{else}}fa-angle-right{{end}}"></span>
        </a>
        </li>
        <ul class="sub{{if $currentNode.HasMenuCurrent "wiki" . }} open {{ end }}">
          {{ range .Children }}
          <!-- if menu has sub-menus -->
            {{ if .HasChildren }}
              <li class="sub-menu{{if $currentNode.HasMenuCurrent "wiki" . }} active{{end}}">
                <a href="javascript:;" class="">
                  {{ .Pre }}
                  <!--<i class="icon_desktop"></i>-->
                  <span>{{ .Name }}</span>
                  <span class="menu-arrow fa {{if $currentNode.HasMenuCurrent "wiki" . }}fa-angle-down{{else}}fa-angle-right{{end}}"></span>
                </a>
              </li>
              <ul class="sub{{if $currentNode.HasMenuCurrent "wiki" . }} open {{ end }}">
                {{ range .Children }}
                  <li class="entity{{if $currentNode.IsMenuCurrent "wiki" . }}active{{end}}"><a href="{{.URL}}"> {{ .Name }} </a> </li>
                {{ end }}
              </ul>
            {{ else}}

            <li class="entity {{if $currentNode.IsMenuCurrent "wiki" . }} active{{end}}"><a href="{{.URL}}"> {{ .Name }} </a> </li>
            {{ end }}
          {{ end }}
        </ul>
        {{else}}
        <li>
          <a class="" href="{{.URL}}">
            {{ .Pre }}
            <!--<i class="icon_house_alt"></i>-->
            <span>{{ .Name }}</span>
          </a>
        {{end}}
        </li>
        {{end}}
      </ul>
      <!-- sidebar menu end-->
    </div>
  </aside>
  <!--sidebar end-->
