<nav class="navbar">
  <div class="container">
  <!-- _______Left Side Menu Items_________ -->
    <ul class="navbar-list">
      {{ $Site := .Site }}
      {{ range .Site.Params.navbardirs }}
      {{ $navbardir := . }}
      {{ $section := (index $Site.Sections $navbardir) }}
      <li class="navbar-item">
        <!-- If there are plural documents in the folder, 
        then popdown, elsewise the navbar link will be direct link -->
        {{ if  len $section.Pages | lt 1 }}
        <a class="navbar-link" href="#" data-popover="#{{ $navbardir }}">{{ $navbardir }}</a>
        <div id="{{ $navbardir }}" class="popover">
          <ul class="popover-list">
            {{ range $section.Pages}}
            <li class="popover-item">
              <a class="popover-link" href="{{ .Permalink }}">{{ .Title }}</a>
            </li> 
            {{ end }}
          </ul>
        </div>
        {{ else }}
        {{ range $section.Pages}}
        <a class="navbar-link" href="{{ .Permalink }}">{{ $navbardir }}</a>
        {{ end }}
        {{ end }}
      </li>
      {{ end }}
      <!-- News link -->
      <li class="navbar-item">
        <a class="navbar-link" href="{{.Site.BaseURL}}/news"> News </a>
    </ul>
    <!-- _______Right Side Menu Items______________ -->
    <ul class="navbar-list right">
        <a class="navbar-link" href="/wiki"> Wiki </a>
      <li class="navbar-item">
      </li>
    </ul>
  </div>
</nav>