{{ partial "header.html" . }}
<body class="code-snippets-visible">

  <!-- Front Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="header">
      {{ partial "svg.html" . }}
    </div>

    {{ partial "navbar.html" . }}
    <div class="row">
      <video 
        id="really-cool-video" 
        class="video-js vjs-default-skin vjs-big-play-centered" 
        controls
        autoplay
        loop
         preload="auto" 
         width="640" height="264" 
         poster="/imgs/2013Nascar-RotGallery_0.jpg"
         data-setup='{}'>
          <source src="/vids/TotalSim.mp4" type='video/mp4'>
          <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a web browser
            that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
          </p>
      </video>
    </div>
    <div class = "row">
      <div class = "six columns">
       asdlfkj
      </div>
      <div class = "six columns">
        {{ partial "summaries.html" . }}
      </div>
    </div>
</body>
</html>